<!-- Footer section starts from here -->
<footer>
    <div class="footer-col">
        <h3>Quick Links</h3>
        <li><a href="{% url 'leadership' %}">Leadership</a></li>
        <li><a href="{% url 'admission_procedure' %}">Admission Procedure</a></li>
        <li><a href="{% url 'blogs' %}">Blog Posts</a></li>
    </div>

    <div class="footer-col">
        <h3>Useful Links</h3>
        <li><a href="{% url 'ourteam' %}">Our Team</a></li>
        <li><a href="{% url 'notice' %}">Notices</a></li>
        <li><a href="{% url 'faq' %}">FAQs</a></li>
    </div>

    <div class="footer-col">
        <h3>Programs</h3>
        <li><a href="{% url 'bca_program' %}">BCA Program</a></li>
        <li><a href="{% url 'bsc_csit_program' %}">BSc CSIT Program</a></li>
        <li><a href="{% url 'bbs_program' %}">BBS Program</a></li>
    </div>

    <div class="footer-col">
        <h3>Guides</h3>
        <li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
        <li><a href="{% url 'leadership' %}">Our Team</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </div>

    <div class="footer-col">
        <h3>Newsletter</h3>
        <p>Subscribe for more Information.</p>
        <div class="subscribe">
            <div class="error-placeholder"><div id="footer-email-error" class="error-message-js"></div></div>
            <input type="email" placeholder="Your email Address" id="footer-email">
            <a href="#" class="yellow" id="subscribe-btn">SUBSCRIBE</a>
        </div>
    </div>

    <div class="copyright">
        <p>
            Copyright @ <script>document.write(new Date().getFullYear());</script> All rights reserved | Hetauda City College<a href="/"> (HCC)</a>
        </p>
        
        <div class="pro-links">
            <a href="https://www.facebook.com/hetaudacitycollege.edu.np" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/hetauda_city_college/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>
<!-- Footer section ends from here -->
