<nav>
    <img src="static/images/logo.png" class="logo" alt="" style="height:70px; width:70px;">
    <label style="font-size:25px;font-weight:bold;">Phoenix</label>

    <div class="navigation">
        <ul>
            <i id="menu-close" class="fas fa-times"></i>
            <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
            <li><a href="{% url 'news' %}" class="{% if 'news' in request.path %}active{% endif %}">News</a></li>
            <li><a href="{% url 'about' %}" class="{% if 'about' in request.path %}active{% endif %}">About Us</a></li>

            <li><a href="{% url 'blog' %}" class="{% if 'blog' in request.path %}active{% endif %}">Blog</a></li>
            <li><a href="{% url 'gallary' %}" class="{% if 'gallary' in request.path %}active{% endif %}">Gallery</a></li>
            <li><a href="{% url 'courses' %}" class="{% if 'courses' in request.path %}active{% endif %}">Courses</a></li>
            <li><a href="{% url 'contact' %}" class="{% if 'contact' in request.path %}active{% endif %}">Contact</a></li>
        </ul>

        <img src="static/images/menu.png" id="menu-btn" alt="">
    </div>
</nav>