{% extends "collegeapp/base.html" %}
{% load static %}
{% block subcss %}
<link rel="stylesheet" href="{% static 'css/noticeDetail.css' %} ">
{% endblock subcss %}

{% block content %}
<!-- Post body starts from here -->
<div class="mainwrapper">
    <div class="left">
        <div class="noticewrapper">
            <div class="title">{{notice.title}}</div>
            <div class="image-container">
                <img src="{{notice.image.url}}" alt="{{notice.title}}">
            </div>
        </div>
    </div>
    <div class="right">
        <h3>Archives:</h3>
        <ul>
            {% for item in latest_notices %}
            <a href="/notice/{{item.slug}}">
                <li>{{item.title}}</li>
            </a>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- Post body ends from here -->
{% endblock content %}