{% load static %}
<section id="course">
    <h1>Our Popular Courses</h1>
    <p>Replenish man have thing gathering lights yielding shall you</p>

    <div class="course-box">
        <a href="{% url "bca_program" %}">
        <div class="courses">
            <img src="{% static 'images/c1.gif' %}" alt="">
            
            <div class="details">
                <span>Updated 2074/75</span>
                <h6>BCA</h6>
                
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    
                    <span>(239)</span>
                </div>
            </div>
            <div class="cost"> <i class="fa-solid fa-fire"></i></div>
        </div>
    </a>
        
        <a href="{% url "bsc_csit_program" %}">
            <div class="courses">
                <img src="{% static 'images/c2.gif' %}" alt="">
            
                <div class="details">
                    <span>Updated 2078</span>
                    <h6>Bsc.CSIT</h6>
            
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
            
                        <span>(239)</span>
                    </div>
                </div>
                <div class="cost"> <i class="fa-solid fa-fire"></i></div>
            </div>
        </a>
        
        <a href="{% url "bbs_program" %}">
            <div class="courses">
                <img src="{% static 'images/c3.gif' %}" alt="">
            
                <div class="details">
                    <span>Updated 2070</span>
                    <h6>BBS</h6>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>(239)</span>
                    </div>
                </div>
                <div class="cost"> <i class="fa-solid fa-fire"></i></div>
            </div>
        </a>
        <a href="{% url "plus2_program" %}">
            <div class="courses">
                <img src="{% static 'images/c4.gif' %}" alt="">
            
                <div class="details">
                    <span>Updated 2070</span>
                    <h6>+2(11/12)</h6>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>(239)</span>
                    </div>
                </div>
                <div class="cost"> <i class="fa-solid fa-fire"></i></div>
            </div>
        </a>

        {% comment %} <a href="">
            <div class="courses">
                <img src="{% static 'images/c4.jpg' %}" alt="">
                <div class="details">
                    <span>Updated 21/8/22</span>
                    <h6>JavaScript Beginners Course</h6>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>(239)</span>
                    </div>
                </div>
                <div class="cost"> <i class="fa-solid fa-fire"></i></div>
            </div>
        </a>

        <a href="">
            <div class="courses">
                <img src="{% static 'images/c5.jpg' %}" alt="">
            
                <div class="details">
                    <span>Updated 21/8/22</span>
                    <h6>JavaScript Beginners Course</h6>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>(239)</span>
                    </div>
                </div>
                <div class="cost"> <i class="fa-solid fa-fire"></i></div>
            </div>
        </a>

        <div class="courses">
            <img src="{% static 'images/c6.jpg' %}" alt="">
            <div class="details">
                <span>Updated 21/8/22</span>
                <h6>JavaScript Beginners Course</h6>

                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>

                    <span>(239)</span>
                </div>
            </div>
            <div class="cost"> <i class="fa-solid fa-fire"></i></div>
        </div> {% endcomment %}
    </div>
</section>